#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color:#ffffff;
  width: 90vw;
}


.directoryDisplayContainer {
  background-color: rgb(61, 61, 61);
  height: 65vh;
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.5%, 12.5%));
  grid-auto-rows: 12.5vh;
  grid-gap: 2%;
}

.dirItemDiv{
  display:flex;
  position: relative;
}

.dirItem {
  flex: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2%;
  position:relative;
}
